# OS
.DS_Store

# Environment
*.env
.envrc

# Debug binaries
debug
__debug_bin*

# Test output
*.test
ginkgo.report

# Test coverage output
*.coverprofile
coverprofile.out

# Project directories
/_bin/
/_data/
/_log/
/_tmp/
/deploy/

# Development environments
/.gvm_local
/.idea

# Travis CI
mongod.log
