# OS
.DS_Store

# Environment
*.env
.envrc
env*.sh
private/plugin/redwood/*.env
!version.env

# Debug
debug
__debug_bin*

# Test
*.coverprofile
*.test
coverprofile.out
ginkgo.report
test
*_test.go
*/test
*/*_test.go
*/*/test
*/*/*_test.go
*/*/*/test
*/*/*/*_test.go
*/*/*/*/test
*/*/*/*/*_test.go
*/*/*/*/*/test
*/*/*/*/*/*_test.go
*/*/*/*/*/*/test
*/*/*/*/*/*/*_test.go
*/*/*/*/*/*/*/test
*/*/*/*/*/*/*/*_test.go

# Project
vendor
_bin
_data
_log
_tmp

# Development
.gvm_local
.idea
.vscode
.govetignore
private/plugin/redwood/.govetignore

# Documentation
CHANGELOG.md
LICENSE
README.md
*/README.md
*/*/README.md
*/*/*/README.md

# Git
.git
.gitignore
.gitmodules
private/plugin/redwood/.git
private/plugin/redwood/.gitignore

# Travis
.travis.yml

# Docker
.dockerignore
