# OS
.DS_Store

# Environment
*.env
.envrc

# Debug
debug
__debug_bin*

# Test
*.coverprofile
*.test
coverprofile.out
ginkgo.report

# Project
vendor
_bin
_data
_log
_tmp

# Development
.gvm_local
.idea
*.code-workspace
