os: linux

dist: focal

language: go

sudo: false

go:
  - 1.11.4

go_import_path: github.com/tidepool-org/platform

before_install:
  # MongoDb 4.2 docker container
  - docker container run -d -p 27017:27017 mongo:4.2 
  # - npm install -g snyk

addons:
  code_climate:
    repo_token: 91ded9b66924acbe830541ab3593daf535f05f7c6db91b5cbd2d26dcf37da0b8

deploy:
  # Control deployment by setting a value for `on`. Setting the `branch`
  # option to `master` means Travis will only attempt a deployment on
  # builds of your repo's master branch (e.g., after you merge a PR).
  - provider: s3
    on:
      tags: true
  #    branch: dblp
    # You can refer to environment variables from Travis repo settings!
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    region: $AWS_DEFAULT_REGION
    # Name of the S3 bucket to which your site should be uploaded.
    bucket: $AWS_BUCKET
    # Prevent Travis from deleting your built site so it can be uploaded.
    skip_cleanup: true
    # Path of the source directory containing your built site.
    local_dir: deploy
    # Path to a directory containing your built site.
    upload-dir: deploy
    # Set the Cache-Control header.
    cache_control: "max-age=21600"
    # Deploy SOUP list
  - provider: s3
    on:
      tags: true
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    region: $AWS_DEFAULT_REGION
    bucket: com.diabeloop.backloops.docs
    skip_cleanup: true
    local_dir: soup
    upload-dir: soup
    cache_control: "max-age=21600"

services:
  - docker

script:
  - ./artifact.sh
cache:
  directories:
    - $HOME/.cache/go-build
